<nav class="navbar bg-body-tertiary position-sticky top-0 start-0 end-0 z-3">
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <a class="navbar-brand" routerLink="">EIP</a>
      <li class="nav-item">
        <a class="nav-link  hover-shadow" [ngClass]="{'active': router.url === '/curriculum'}" routerLink="curriculum">Curriculum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hover-zoom" [ngClass]="{'active': router.url === '/formular'}"  routerLink="formular">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hover-zoom" [ngClass]="{'active': router.url === '/login'}"  routerLink="login">Iniciar Sesión</a>
      </li>
    </ul>
  </div>
</nav>