<nav class="navbar bg-body-tertiary position-sticky top-0 start-0 end-0 z-3">
  <div class="d-flex">
    <ul class="nav nav-pills">
      <div class="navbar-brand align-self-center mx-3">
        <a class="navbar-brand" routerLink="">EIP</a>
      </div>

      <li onHoverOverMenuLink class="nav-item justify-self-center align-self-center">
        <a class="nav-link  hover-shadow" [ngClass]="{'active': router.url === '/curriculum'}" routerLink="curriculum">Curriculum</a>
      </li>

      <li onHoverOverMenuLink class="nav-item justify-self-center align-self-center">
        <a class="nav-link hover-zoom" [ngClass]="{'active': router.url === '/contact'}"  routerLink="contact">Contacto</a>
      </li>

      <li onHoverOverMenuLink class="nav-item justify-self-center align-self-center">
        <a class="nav-link hover-zoom" [ngClass]="{'active': router.url === '/login'}"  routerLink="login">Iniciar Sesión</a>
      </li>
    </ul>
  </div>
</nav>